<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="email" value="asd@asd.com"></parameter>
    <parameter name="password" value="asdasd"></parameter>

    <test name="test.ng" >
        <classes>
            <class name="test.ng.DataProviders"></class>
        </classes>
    </test>
</suite>